<header>
  <div class="logo-title">
    <div class="title">
      <img src="<%= app.logo %>" style="width:127px;">
      <h1 title=""><a href="/"><%= app.name %></a></h1>
      <div class="description">
        <p><%= app.description %></p>
      </div>
    </div>
  </div>
</header>

