<header>
    <div class="blog-masthead">
        <div class="container">
            <nav class="nav">
                <a class="nav-link active" href="#">首页</a>
                <a class="nav-link" href="#">关于</a>
            </nav>
        </div>
    </div>

    <div class="blog-header">
        <div class="container">
            <h1 class="blog-title">幸福六局</h1>
            <p class="lead blog-description">这里是幸福六局，这里有一群幸福的工程师。</p>
        </div>
    </div>
</header>