<!DOCTYPE html>
<html lang="zh-CN">
<%- include('_partial/head') %>
<body>
    <%- include('_partial/sidebar') %>

    <main class="main">
        <%- include('_partial/nav') %>

        <div class="autopagerize_page_element">
            <div class="content">
                <div class="post animated fadeInDown">
                    <div class="post-title">
                        <h3><a href="/2016/12/26/images/">Images</a></h3>
                    </div>
                    <div class="post-content">
                        <p>This is a image test post.</p>
                    </div>
                    <div class="post-footer">
                        <div class="meta">
                            <div class="info">
                                <i class="fa fa-sun-o"></i>
                                <span class="date">2016-12-26</span>
                                <i class="fa fa-tag"></i>
                                <a href="/categories/测试分类/" title="测试分类" class="tag">测试分类 </a>
                                <a href="/tags/555/" title="555" class="tag">555 </a>
                                <a href="/tags/666/" title="666" class="tag">666 </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post animated fadeInDown">
                    <div class="post-title"><h3><a href="/2013/12/25/no-title/">30624700</a></h3></div><div class="post-content"><p>This post doesn’t have a title. Make sure it’s accessible.
</p></div><div class="post-footer"><div class="meta"><div class="info"><i class="fa fa-sun-o"></i><span class="date">2013-12-25</span><i class="fa fa-tag"></i></div></div></div></div><div class="post animated fadeInDown"><div class="post-title"><h3><a href="/2013/12/25/excerpts/">Excerpts</a></h3></div><div class="post-content"><p>The following contents should be invisible in home/archive page.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget urna vitae velit eleife...</p></div><div class="post-footer"><div class="meta"><div class="info"><i class="fa fa-sun-o"></i><span class="date">2013-12-25</span><i class="fa fa-tag"></i><a href="/categories/测试分类/" title="测试分类" class="tag">测试分类 </a><a href="/tags/555/" title="555" class="tag">555 </a><a href="/tags/666/" title="666" class="tag">666 </a></div></div></div></div><div class="post animated fadeInDown"><div class="post-title"><h3><a href="/2013/12/25/videos/">Videos</a></h3></div><div class="post-content"><p>This is a video test post.
Youtube

Vimeo
</p></div><div class="post-footer"><div class="meta"><div class="info"><i class="fa fa-sun-o"></i><span class="date">2013-12-25</span><i class="fa fa-tag"></i></div></div></div></div><div class="post animated fadeInDown"><div class="post-title"><h3><a href="/2013/12/25/gallery-post/">Gallery Post</a></h3></div><div class="post-content"><p>This post contains 4 photos:

Widescreen wallpaper
Portrait photo
Dual widescreen wallpaper
Small photo

All photos should be displayed properly.
From Wallba...</p></div><div class="post-footer"><div class="meta"><div class="info"><i class="fa fa-sun-o"></i><span class="date">2013-12-25</span><i class="fa fa-tag"></i><a href="/categories/测试分类/" title="测试分类" class="tag">测试分类 </a><a href="/tags/555/" title="555" class="tag">555 </a><a href="/tags/666/" title="666" class="tag">666 </a></div></div></div></div><div class="post animated fadeInDown"><div class="post-title"><h3><a href="/2013/12/25/tag-plugins/">Tag Plugins</a></h3></div><div class="post-content"><p>This post is used for testing tag plugins. See docs for more info.
Block QuoteNormal blockquote
Praesent diam elit, interdum ut pulvinar placerat, imperdiet ...</p></div><div class="post-footer"><div class="meta"><div class="info"><i class="fa fa-sun-o"></i><span class="date">2013-12-25</span><i class="fa fa-tag"></i></div></div></div></div><div class="post animated fadeInDown"><div class="post-title"><h3><a href="/2013/12/24/link-post-without-title/">www.google.com</a></h3></div><div class="post-content"><p>This is a link post without a title. The title should be the link with or without protocol. Clicking on the link should open Google in a new tab or window.
</p></div><div class="post-footer"><div class="meta"><div class="info"><i class="fa fa-sun-o"></i><span class="date">2013-12-24</span><i class="fa fa-tag"></i></div></div></div></div><div class="post animated fadeInDown"><div class="post-title"><h3><a href="/2013/12/24/日本語テスト/">日本語テスト</a></h3></div><div class="post-content"><p>This is a Japanese test post.
私は昨日ついにその助力家というのの上よりするたなけれ。
最も今をお話団はちょうどこの前後なかろでくらいに困りがいるたをは帰着考えたなかって、そうにもするでうたらない。
がたを知っないはずも同時に九月をいよいよたありた。
もっと槙さんにぼんやり金少し説明に...</p></div><div class="post-footer"><div class="meta"><div class="info"><i class="fa fa-sun-o"></i><span class="date">2013-12-24</span><i class="fa fa-tag"></i><a href="/categories/测试分类/" title="测试分类" class="tag">测试分类 </a><a href="/tags/555/" title="555" class="tag">555 </a><a href="/tags/666/" title="666" class="tag">666 </a></div></div></div></div><div class="post animated fadeInDown"><div class="post-title"><h3><a href="/2013/12/24/中文測試/">中文測試</a></h3></div><div class="post-content"><p>打隊馬表手記元起讀代成人速車死食亮說學數包其是不中只市一色職，讓保用且要，告分放選思的都眼黃是要品費；排班場，一難走方面龍爭人大加。點黨了：心眾運。及望香是臺，事到的有意寫北眾賣說負有起……養家手單然出：得說看然屋：好在利之千叫沒？大院氣覺其：成見舉死？衣資題話以微所動笑以李多三開年戰下，資具家書美確同何有生車資...</p></div><div class="post-footer"><div class="meta"><div class="info"><i class="fa fa-sun-o"></i><span class="date">2013-12-24</span><i class="fa fa-tag"></i><a href="/categories/测试分类/" title="测试分类" class="tag">测试分类 </a><a href="/tags/123/" title="123" class="tag">123 </a><a href="/tags/321/" title="321" class="tag">321 </a><a href="/tags/524/" title="524" class="tag">524 </a></div></div></div></div><div class="post animated fadeInDown"><div class="post-title"><h3><a href="/2013/12/24/long-title/">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam justo turpis, tincidunt ac convallis id.</a></h3></div><div class="post-content"><p>This post has a long title. Make sure the title displayed right.
</p></div><div class="post-footer"><div class="meta"><div class="info"><i class="fa fa-sun-o"></i><span class="date">2013-12-24</span><i class="fa fa-tag"></i></div></div></div></div><div class="pagination"><ul class="clearfix"><li class="next pagbuttons"><a role="navigation" href="/page/2/" class="btn">下一页</a></li></ul></div>
            </div>
        </div>
    </main>
</body>
</html>