<footer class="footer">
  <span>Theme by </span>
  <a href="https://www.caicai.me" target="_blank"> CaiCai </a><span>&amp;</span>
  <a href="https://github.com/Ben02/hexo-theme-Anatole" target="_blank"> Ben</a>
  <div class="by_farbox">
    <a href="https://github.com/happysix/bee-blog" target="_blank">Proudly published with bee-blogï¼</a>
  </div>
</footer>
