<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="//www.fxiaoke.com/favicon.ico">

    <title><%= app.name %></title>

    <!-- Bootstrap core CSS -->
    <link href="/default/css/bootstrap.min.css?v=4.0.0" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/default/css/blog.css?v=0.0.1" rel="stylesheet">
  </head>
