<div class="page-top animated fadeInDown">
  <div class="nav">
    <li><a href="/" <% if (module === 'index') { %>class="current"<% } %>>首页</a></li>
    <li><a href="/about" <% if (module === 'about') { %>class="current"<% } %>>关于</a></li>
    <li><a href="/archives" <% if (module === 'archives') { %>class="current"<% } %>>归档</a></li>
  </div>
  <div class="information">
    <div class="back_btn">
      <li><a onclick="window.history.go(-1)" class="fa fa-chevron-left"></a></li>
    </div>
  </div>
</div>
