<div class="sidebar animated fadeInDown">
    <div class="logo-title">
        <div class="title">
            <img src="/images/logo@2x.png" style="width:127px;">
            <h3 title=""><a href="/">Theme Anatole</a></h3>
            <div class="description">
                <p>hexo-theme-Anatole DEMO.</p>
            </div>
        </div>
    </div>
    <ul class="social-links">
        <li><a href="https://benwong.cn/index.xml"><i class="fa fa-rss"></i></a></li>
        <li><a href="http://weibo.com/ben0036"><i class="fa fa-weibo"></i></a></li>
        <li><a href="http://github.com/Ben02"><i class="fa fa-github"></i></a></li>
    </ul>
    <div class="footer">
        <a target="_blank" href="/"><span>Theme by </span></a>
        <a href="https://www.caicai.me"> CaiCai </a><span>&amp;</span>
        <a href="https://github.com/Ben02/hexo-theme-Anatole"> Ben</a>
        <div class="by_farbox">
            <a href="https://hexo.io/zh-cn/" target="_blank">Proudly published with Hexo！</a>
        </div>
    </div>
</div>